<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="xy.Properties.Settings.AECConnectionString" connectionString="Data Source=DELL-PC\SQLEXPRESS2017;Initial Catalog=AEC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="xy.Properties.Settings.AEC_IlluminationConnectionString"
            connectionString="Data Source=DELL-PC\SQLEXPRESS2017;Initial Catalog=AEC_Illumination;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>